<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <script src="http://webapp.didistatic.com/static/webapp/shield/z/vue/vue/1.0.24/vue.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- start menu -->
    <link href="css/memenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="js/memenu.js"></script>
    <script>$(document).ready(function () {
        $(".memenu").memenu();
    });</script>
    <script src="js/simpleCart.min.js"></script>
    <!-- slide -->
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="col-sm-4 world">

            </div>
            <div class="col-sm-4 logo">
                <a href="index.html"><img src="images/logo1.jpg" alt=""></a>
            </div>

            <div class="col-sm-4 header-left">
                <p class="log"><a href="account.html">登陆</a>
                    <span>或</span><a href="register.html">注册</a></p>
                <div class="cart box_1">
                    <a href="checkout.html">
                        <h3>
                            <img src="images/cart.png" alt=""/></h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">购物车</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <div class="head-top">
            <div class="col-sm-2 number">
                <span><i class="glyphicon glyphicon-phone"></i>微信小程序</span>
            </div>
            <div class="col-sm-8 h_menu4">
                <ul class="memenu skyblue">
                    <li class=" grid"><a href="index.html">首页</a></li>
                    <li><a href="#">院系书籍</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">能源与动力工程</a></li>
                                            <li><a href="products.html">电气工程学院学院</a></li>
                                            <li><a href="products.html">机械工程学院</a></li>
                                            <li><a href="products.html">自动化工程学院</a></li>
                                            <li><a href="products.html">信息工程学院</a></li>
                                            <li><a href="products.html">化学工程学院</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">艺术学院</a></li>
                                            <li><a href="products.html">媒体技术与传媒系</a></li>
                                            <li><a href="products.html">外国语学院</a></li>
                                            <li><a href="products.html">马克思主义学院</a></li>
                                            <li><a href="products.html">经济管理学院</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">经济管理学院</a></li>
                                            <li><a href="products.html">输变电技术学院</a></li>
                                            <li><a href="products.html">建筑工程学院</a></li>
                                            <li><a href="products.html">理学院</a></li>
                                            <li><a href="products.html">体育学院</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#"> 大一基础书籍</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>数学</h4>
                                        <ul>
                                            <li><a href="products.html">高等数学上册</a></li>
                                            <li><a href="products.html">高等数学下册</a></li>
                                            <li><a href="products.html">概率论上册</a></li>
                                            <li><a href="products.html">概率论下册</a></li>
                                            <li><a href="products.html">线性代数上册</a></li>
                                            <li><a href="products.html">线性代数下册</a></li>
                                            <li><a href="products.html">数值分析上册</a></li>
                                            <li><a href="products.html">数值分析下册</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>英语</h4>
                                        <ul>
                                            <li><a href="products.html">四级词汇</a></li>
                                            <li><a href="products.html">四级-模拟题</a></li>
                                            <li><a href="products.html">六级词汇</a></li>
                                            <li><a href="products.html">六级-模拟题</a></li>
                                            <li><a href="products.html">视听说1</a></li>
                                            <li><a href="products.html">视听说2</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>物理</h4>
                                        <ul>
                                            <li><a href="products.html">大学物理上册</a></li>
                                            <li><a href="products.html">大学物理下册</a></li>
                                            <li><a href="products.html">大学物理上-辅导书</a></li>
                                            <li><a href="products.html">大学物理下-辅导书</a></li>
                                            <li><a href="products.html">大学物理上-课后题</a></li>
                                            <li><a href="products.html">大学物理下-课后题</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color6" href="contact.html">意见反馈</a></li>
                </ul>
            </div>
            <div class="col-sm-2 search">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i
                        class="glyphicon glyphicon-search"> </i> </a>
            </div>
            <div class="clearfix"></div>
            <!---pop-up-box---->
            <script type="text/javascript" src="js/modernizr.custom.min.js"></script>
            <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
            <!---//pop-up-box---->
            <div id="small-dialog" class="mfp-hide">
                <div class="search-top">
                    <div class="login">
                        <input type="submit" value="">
                        <input type="text" value="输入书名" onFocus="this.value = '';"
                               onBlur="if (this.value == '') {this.value = '';}">
                    </div>
                    <p> 搜索记录</p>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>
            <!---->
        </div>
    </div>
</div>
<!--//header-->
<div class="account">
    <div class="container">
        <h1>Account</h1>
        <div class="account_grid">
            <div class="col-md-6 login-right">
                <form>

                    <span style="font-size: 16px">账号</span>
                    <input v-model="username" type="text">

                    <span style="font-size: 16px">密码</span>
                    <input v-model="password" type="text">
                    <div class="word-in">
                        <input type="submit" @click="login_m" value="登陆">
                    </div>
                </form>
            </div>
            <script>
                var vm = new Vue({
                    el: '#login_vue',
                    data: {
                        username :'',
                        password :'',
                    },
                    methods: {
                        login_m: function () {
                            if (vm.username!=''&&vm.password!='') {
                                var post_data = {};
                                post_data['username'] = vm.username;
                                post_data['password'] = vm.password;
                                console.log(post_data);
                                $.post("http://59.72.194.12:8080/untitled/api/Login", post_data,
                                    function (data, status) {
                                        alert("Data: " + data + "nStatus: " + status);
                                        if(data == 'success'){
                                            localStorage.setItem('obj', JSON.stringify({ name: vm.username}));
                                            window.location.href = "index.html";
                                        }
                                    });
                                var obj = JSON.parse(localStorage.getItem('obj'));   // obj = {name:'xiaocao',code:'xiaocao0001'}
                                console.log(obj)
                            }
                            else {
                                alert("fail")
                            }
                        }

                    }
                })
            </script>
            <div class="col-md-6 login-left">
                <h4>创建新的账号</h4>
                <p>通过创建新的账号,你可以在交易平台中购买出售图书,并发现一个新的世界!</p>
                <a class="acount-btn" href="register.html">创建</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--footer-->
<div class="footer">
    <div class="container">
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-sm-3 footer-bottom-cate">
                <h6>网站维护团队</h6>
                <ul>
                    <li><a href="#">核电161 魏绪升</a></li>
                    <li><a href="#">管理162 杨小彤</a></li>
                    <li><a href="#">会计151 金亚萍</a></li>
                    <li><a href="#">工管161 李东旭</a></li>

                </ul>
            </div>
            <div class="col-sm-3 footer-bottom-cate">
                <h6>网站搭建技术</h6>
                <ul>
                    <li><a href="#">Python_Django</a></li>
                    <li><a href="#">Python_Flask</a></li>
                    <li><a href="#">Vue.js</a></li>
                    <li><a href="#">Nginx</a></li>
                </ul>
            </div>
            <div class="col-sm-3 footer-bottom-cate">
                <h6>平台支持</h6>
                <ul>
                    <li><a href="#">网站</a></li>
                    <li><a href="#">微信小程序</a></li>
                    <li><a href="#">更多新平台正在开发...</a></li>

                </ul>
            </div>
            <div class="col-sm-3 footer-bottom-cate cate-bottom">
                <h6>联系方式</h6>
                <ul>
                    <li>邮箱:</li>
                    <li>tronwei@163.com</li>
                    <li>电话:</li>
                    <li>13504782892</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <p class="footer-class">Copyright &copy; 2018.云升创新团队 All rights reserved.</p>

        </div>
        <p class="footer-class">技术支持:云升工作室,因特雷工作室</p>
    </div>
</div>

<!--//footer-->
</body>
</html>